In [9]:
!pip install requests

Requirement already satisfied: requests in c:\users\timothy betancourt\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\timothy betancourt\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\timothy betancourt\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\timothy betancourt\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\timothy betancourt\anaconda3\lib\site-packages (from requests) (2023.7.22)

Will be pulling data from 1991-2021 so that we can see if our ML model will be accurate based on the sequential  years results

In [10]:
years = list(range(1991,2022))

In [11]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [12]:
import requests

for year in years:
    url = url_start.format(year)
    data = requests.get(url)
    
    with open("mvp/{}.html".format(year), "w+", encoding='utf-8') as f:
        f.write(data.text)

In [13]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\timothy betancourt\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\timothy betancourt\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)

In [14]:
from bs4 import BeautifulSoup

In [15]:
with open("mvp/1991.html", encoding='utf-8') as f:
    page = f.read()

In [16]:
soup = BeautifulSoup(page, "html.parser")

Remove header of table by removing the 'tr' class

In [17]:
soup.find('tr',class_="over_header").decompose()

Pull the table by pulling it's id which is "mvp"

In [18]:
mvp_table = soup.find(id="mvp")

In [19]:
import pandas as pd

In [20]:
mvp_1991 = pd.read_html(str(mvp_table))[0]

In [21]:
mvp_1991

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,Hakeem Olajuwon,31,HOU,66,889,1010,0.880,80,41.0,27.3,11.9,3.6,1.6,3.7,0.528,0.421,0.716,14.3,0.210
1,2,David Robinson,28,SAS,24,730,1010,0.723,80,40.5,29.8,10.7,4.8,1.7,3.3,0.507,0.345,0.749,20.0,0.296
2,3,Scottie Pippen,28,CHI,7,390,1010,0.386,72,38.3,22.0,8.7,5.6,2.9,0.8,0.491,0.320,0.660,11.2,0.194
3,4,Shaquille O'Neal,21,ORL,3,289,1010,0.286,81,39.8,29.3,13.2,2.4,0.9,2.9,0.599,0.000,0.554,16.9,0.252
4,5,Patrick Ewing,31,NYK,1,255,1010,0.252,79,37.6,24.5,11.2,2.3,1.1,2.7,0.496,0.286,0.765,13.1,0.211
5,6,Gary Payton,25,SEA,0,20,1010,0.020,82,35.1,16.5,3.3,6.0,2.3,0.2,0.504,0.278,0.595,9.3,0.155
6,7T,Shawn Kemp,24,SEA,0,17,1010,0.017,79,32.9,18.1,10.8,2.6,1.8,2.1,0.538,0.250,0.741,11.7,0.216
7,7T,Karl Malone,30,UTA,0,17,1010,0.017,82,40.6,25.2,11.5,4.0,1.5,1.5,0.497,0.250,0.694,13.4,0.193
8,9,Mark Price,29,CLE,0,7,1010,0.007,76,31.4,17.3,3.0,7.8,1.4,0.1,0.478,0.397,0.888,10.0,0.201
9,10,Charles Barkley,30,PHO,0,5,1010,0.005,65,35.4,21.6,11.2,4.6,1.6,0.6,0.495,0.270,0.704,8.8,0.185
10,11T,Mookie Blaylock,26,ATL,0,1,1010,0.001,81,36.0,13.8,5.2,9.7,2.6,0.5,0.411,0.334,0.730,10.2,0.168
11,11T,Kevin Johnson,27,PHO,0,1,1010,0.001,67,36.6,20.0,2.5,9.5,1.9,0.1,0.487,0.222,0.819,8.7,0.170
12,11T,Dennis Rodman,32,SAS,0,1,1010,0.001,79,37.8,4.7,17.3,2.3,0.7,0.4,0.534,0.208,0.520,8.7,0.140
13,11T,Latrell Sprewell,23,GSW,0,1,1010,0.001,82,43.1,21.0,4.9,4.7,2.2,0.9,0.433,0.361,0.774,8.0,0.108
14,11T,John Stockton,31,UTA,0,1,1010,0.001,82,36.2,15.1,3.1,12.6,2.4,0.3,0.528,0.322,0.805,13.2,0.214
15,11T,Dominique Wilkins,34,TOT,0,1,1010,0.001,74,35.6,26.0,6.5,2.3,1.2,0.4,0.440,0.288,0.847,8.4,0.153
16,11T,Kevin Willis,31,ATL,0,1,1010,0.001,80,35.8,19.1,12.0,1.9,1.0,0.5,0.499,0.375,0.713,10.2,0.170

In [22]:
dfs = []
for year in years:
    with open("mvp/{}.html".format(year), encoding='utf-8') as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr',class_="over_header").decompose()
    mvp_table = soup.find(id="mvp")
    mvp = pd.read_html(str(mvp_table))[0]
    mvp["Year"] = year
    
    dfs.append(mvp)

AttributeError: 'NoneType' object has no attribute 'decompose'

In [ ]:
mvps = pd.concat(dfs)

In [ ]:
mvps.head()

In [ ]:
mvps.to_csv("mvps.csv")

Now we need all player data in order to make comparisons for our ML model

In [ ]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

url = player_stats_url.format(1991)
data = requests.get(url)
with open("player/1991.html", "w+", encoding='utf-8') as f:
    f.write(data.text)

In [ ]:
!pip install selenium

In [ ]:
from selenium import webdriver

In [ ]:
driver = webdriver.Chrome()

In [ ]:
import time

year = 1991
url = player_stats_url.format(year)

driver.get(url)
last_height = driver.execute_script("window.scrollTo(1,10000)")
time.sleep(2)

html = driver.page_source

In [ ]:
with open("player/{}.html".format(year), "w+", encoding='utf-8') as f:
    f.write(html)

In [ ]:
for year in years:
    url = player_stats_url.format(year)

    driver.get(url)
    last_height = driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(2)

    html = driver.page_source
    with open("player/{}.html".format(year), "w+", encoding='utf-8') as f:
        f.write(html)

In [ ]:
dfs = []
for year in years:
    with open("player/{}.html".format(year), encoding='utf-8') as f:
        page = f.read()
    
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr',class_="thead").decompose()
    player_table = soup.find(id="per_game_stats")
    player = pd.read_html(str(player_table))[0]
    player["Year"] = year
    dfs.append(player)

In [ ]:
players = pd.concat(dfs)

In [ ]:
players.to_csv("players.csv")

Lastly, we will need all team record data because a teams record is a very important factor in MVP voting

In [ ]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [ ]:
for year in years:
    url = team_stats_url.format(year)

    data = requests.get(url)

    with open("team/{}.html".format(year), "w+", encoding='utf-8') as f:
        f.write(data.text)

In [ ]:
!pip install html5lib
import html5lib

In [ ]:
!pip install --upgrade pip

In [ ]:
dfs = []
for year in years:
    with open("team/{}.html".format(year), encoding='utf-8') as f:
        page = f.read()

    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr',class_="thead").decompose()
    team_table = soup.find(id="divs_standing_E")
    team = pd.read_html(str(team_table))[0]
    team["Year"] = year
    team["Team"] = team["Eastern Conference"]
    del team["Eastern Conference"]
    dfs.append(team)

    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr',class_="thead").decompose()
    team_table = soup.find(id="divs_standing_W")
    team = pd.read_html(str(team_table))[0]
    team["Year"] = year
    team["Team"] = team["Western Conference"]
    del team["Western Conference"]
    dfs.append(team)

In [ ]:
teams = pd.concat(dfs)

In [ ]:
teams.to_csv("teams.csv")